<!DOCTYPE html>
<html lang="en" xmlns:th="hhtp://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
all users<br>
<p th:text="${allBooks}"/>
</body>
</html>